.re-code
    input.args
        width: 100%
        padding: 0 2em
        background: transparent
        border: none
        color: white

    placehold = 
       color: rgba(255, 255, 255, 0.1)
       text-align: right

    ::-webkit-input-placeholder
        {placehold}
    :-moz-placeholder
        {placehold}
    ::-moz-placeholder
        {placehold}
    :-ms-input-placeholder
        {placehold}