.split-component
    display: flex
    height: 100%
    width: 100%

    & > *:last-of-type
        flex: 1

    .divider
        width: 1em
        background: red
        position: relative
        top: 0
        bottom: 0
        cursor: move