@require 'mixins/flexbox'

.split-component
    flexbox()
    height: 100%
    width: 100%

    & > *:last-of-type
        -webkit-flex: 1
        flex: 1

    & > *
        overflow-y: auto

    .divider
        width: 1em
        background: red
        position: relative
        top: 0
        bottom: 0
        cursor: move
        overflow: hidden